// Drop
.drop {
  position: fixed;
  top: -110vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-black;
  z-index: 90;
  display: flex;
  pointer-events: none;
  transition: $transition-time;
  &.shown {
    top: 80px;
    pointer-events: all;
  }
  &__link {
    color: $off-white;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    transition: $transition-time;
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      background: $accent-red;
      width: 0;
      height: 3px;
      -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  &__soc-link {
    margin: 0 1rem;
  }
  &__icon {
    color: $off-white;
    opacity: 0.8;
    font-size: 2.5rem;
    transition: $transition-time;
    &:hover {
      color: $accent-red;
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
